<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h2>Home Page</h2>
    <p>
        Logged IN: 
        <br>
        Name:<%= data && data.name? data.name: "N/A" %>
        <br>
        Age: <%= data && data.age? data.age: "N/A" %>
    </p>
</body>
</html>