html {
    max-width: 100%;
}

body {
    background-color: #edf2f4;
    max-width: 100%;
}

header {
    width: 55%;
    margin: 20px auto;
    text-align: center;
    padding: 10px;
}

main {
    display: flex;
    justify-content: center;
    padding: 10px 20px;
}

.cardContent button {
    background: none;
    font-size: 1em;
    border: none;
    color: #00b4d8;
    font-weight: 300;
}

@media screen and (min-width:769px) {

    #searchBox {
        display: none;
    }

    .container {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }

    img {
        width: 100px;
    }

    .leftHalf {
        /* background-color: darkorchid; */
        flex: 1;
        margin-right:1% ;
    }

    .rightHalf {
        /* background-color: yellow; */
        flex: 1;
        /* border: 1px solid #283618; */
        /* border-radius: 1em; */
        margin-left: 1%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: center;
    }

    #bigcard {
        background-color: #edf2f4;
        box-sizing: border-box;
        border: 1px solid #283618;
        border-radius: 1em;
        height: 100%;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        align-items: flex-start;
    }

    #bigImg {
        height: 60%;
    }
    
    #bigImg img {
        width: 100%;
        border-top-left-radius: 1em;
        border-top-right-radius: 1em;
    }

    #bigcardContent {
        padding: 5px;
        text-align: left;
    }

    #bigcardContent button {
        display: block;
        background: none;
        font-size: 1em;
        border: none;
        color: #00b4d8;
        font-weight: 300;
    }

    #bigcardAdditional {
        display: flex;
        flex: row;
        justify-content: flex-start;
        padding: 8px 4px;
    }

    #bigcardAdditional div {
        margin-right: 1em;
    }

    .card {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        background-color: #edf2f4;
        border: 1px solid #606c38;
        border-radius: 1em;
        height: 30%;
    }

    .card>div {
        width: 50%;
        height: 100%;
    }

    .cardImg img {
        height: 100%;
        width: 100%;
        border-top-left-radius: 1em;
        border-top-right-radius: 0em;
        border-bottom-left-radius: 1em;
        border-bottom-right-radius: 0em;
    }

    .cardDescription {
        position: static;
        box-sizing: border-box;
        padding: 20px 10px;
        font-size: 1em;
        display: flex;
        flex-flow: column-reverse;
        justify-content: space-evenly;
        align-items: flex-start;
        border-top-left-radius: 0em;
        border-top-right-radius: 1em;
        border-bottom-left-radius: 0em;
        border-bottom-right-radius: 1em;
    }
    .cardDescription hr,button{
        display: none;
    }
    .cardAdditional {
        margin-top: 5px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 5px;
        height: 20%;
        width: 100%;
        font-size: medium;
    }
    .cardAdditional div:nth-of-type(2),div:nth-of-type(3){
        display: none;
    }

    .cardContent {
        position: relative;
        height: 80%;
        box-sizing: border-box;
    }

    .cardContent h3,
    p,
    button {
        margin: 3px 0px;
    }

}

@media screen and (max-width: 768px) and (min-width:601px) {
    .leftHalf {
        display: none;
    }

    #searchBox {
        display: none;
    }

    .container {
        display: flex;
        flex-flow: row;
        padding: 10px;
        justify-content: space-between;
    }

    .rightHalf {
        display: flex;
        flex-flow: row;
        padding: 10px;
        justify-content: space-between;
    }

    .card {
        width: 30%;
        /* background-color: #bde0fe; */
        /* border: 1px solid #606c38; */
        border-radius: 1em;
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        align-items: center;
    }

    .cardImg img {
        width: 100%;
        height: 100%;
        border-radius: 1em;
    }

    .cardDescription {
        position: relative;
        bottom: 3em;
        padding: 5px;
        /* height: 30%; */
        box-sizing: border-box;
        width: 80%;
        font-size: 0.5em;
        background-color: #edf2f4;
        display: flex;
        flex-flow: column;
        justify-content: space-around;
        align-items: flex-start;
        border-radius: 1em;
        border: 1px solid black;
    }

    .cardDescription hr {
        display: none;
    }
    .cardDescription div:nth-of-type(4){
        display: none;
    }
    .cardImg {
        height: 60%;
        width: 100%;
    }

    .cardAdditional {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        box-sizing: border-box;
    }

    .cardAdditional div:nth-of-type(3) {
        display: none;
    }
    .cardAdditional div:nth-of-type(2){
        background-color: #adb5bd;
        border-radius: 0.5em;
        padding: 3px 2px;
    }

    .cardContent {
        box-sizing: border-box;
    }

    /* .cardContent h3,
    p,
    button {
        margin: 0px auto;
        padding: 2px;
    } */
}

@media screen and (max-width :600px) {
    .leftHalf {
        display: none;
    }

    #searchBox {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border: 1px solid black;
        border-radius: 1em;
        background-color: white;
        padding: 5px 10px;
        line-height: 1em;
    }
    #searchBox input{
        border: none;
        font-size: 100%;
        width: 100%;
    }
    #searchBox label{
        border: none;
        background-color: white;
    }

    .container {
        width: 90%;
        display: flex;
        border-radius: 1em;
        flex-flow: column nowrap;
        justify-content: space-evenly;
        padding: 10px;
    }

    .rightHalf {
        display: flex;
        flex-flow: column;
        flex-flow: column nowrap;
        justify-content: space-evenly;
        padding: 5px;
    }

    .card {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        background-color: #edf2f4;
        border: 1px solid #606c38;
        border-radius: 1em;
        margin-bottom: 1em;
    }

    .card>div {
        width: 50%;
        height: 100%;
    }

    .cardImg img {
        height: 100%;
        width: 100%;
        border-top-left-radius: 1em;
        border-top-right-radius: 0em;
        border-bottom-left-radius: 1em;
        border-bottom-right-radius: 0em;
    }

    .cardDescription {
        position: static;
        box-sizing: border-box;
        padding: 5px;
        font-size: 0.7em;
        display: flex;
        flex-flow: column;
        justify-content: space-evenly;
        align-items: flex-start;
        border: 1px solid #606c38;
        border-top-left-radius: 0em;
        border-top-right-radius: 1em;
        border-bottom-left-radius: 0em;
        border-bottom-right-radius: 1em;
    }

    .cardAdditional {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        padding:5px;
        font-size: 0.8em;
    }
    .cardAdditional div:nth-of-type(4){
        display: none;
    }

    .cardContent {
        display: flex;
        flex-direction:column;
        box-sizing: border-box;
        justify-content: center;
        align-items: flex-start;
    }
    .cardContent h3{
        margin:  0px 0px;
    }

}